<div id="<%= dom_id avaliacao %>">
  <p>
    <strong>Texto:</strong>
    <%= avaliacao.texto %>
  </p>

  <p>
    <strong>Sentimento:</strong>
    <%= avaliacao.sentimento %>
  </p>

  <p>
    <strong>Produto:</strong>
    <%= avaliacao.produto_id %>
  </p>

</div>
