<% content_for :area_info do %>
  <div class="panel panel-flat">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="<%= icone_edit %> position-left"></i><%= t('avaliacoes.edit') %></h3>
      <div class="heading-elements">
      </div>
    </div>
  </div>
<% end %>

<%= render 'form' %>

