      <h1>Dashboard</h1>
      <%= link_to "Carregar produtos e avaliações",
      carga_produtos_avaliacoes_path(),
      title: 'Carregar produtos e avaliações',
      class: "btn btn-outline-dark",
      data: { turbo_frame: 'modal' } %>