<%% content_for :area_info do %>
  <div class="panel panel-flat">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="<%%= icone_new %> position-left"></i><%%= t('<%= plural_table_name %>.new') %></h3>
      <div class="heading-elements">
      </div>
    </div>
  </div>
<%% end %>

<%%= render 'form' %>
